<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>    
    <link rel='stylesheet' href='/stylesheets/main.css' />
    
  </head>
  <body>  
   
    {{{body}}}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="./vendors/jquery/dist/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
   
    <!--script src="javascripts/app.js"></script-->
  </body>
</html>
